<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>info list</title>
</head>
<body>
{#    <form action="/info/list/" method="post">#}
{#        {% csrf_token %}#}
{#        <label>username：</label>#}
{#        <input type="text" id="name" name="username" required placeholder="please input username">#}
{#        <label for="pwd">password：</label>#}
{#        <input type="password" id="pwd" name="password" minlength="1" required>#}
{#        <label for="age">age：</label>#}
{#        <input type="text" id="age" name="age"  placeholder="please input age">#}
{#        <label for="data">data：</label>#}
{#        <input type="number" id="data" name="data"  placeholder="please input data" required>#}
{#        <button type="submit">register</button>#}
{#    </form>#}
    <table >
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>password</th>
                <th>age</th>
                <th>data</th>
                <th>operation</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data_list %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.password }}</td>
                    <td>{{ item.age }}</td>
                    <td>{{ item.data }}</td>
                    <td>
                        <a href="/info/delete?nid={{ item.id }}">del</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>